@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 0.5rem;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: #5e0a0d;
    border: none;
    border-radius: 30px;
}